<module xmlns="urn:jboss:module:1.1" name="io.fabric8.kubernetes">

    <resources>
        <resource-root path="kubernetes-api-${fabric8.version}.jar"/>
        <resource-root path="fabric8-utils-${fabric8.version}.jar"/>
        <!-- Should use a dependency module instead -->
        <resource-root path="cxf-core-${cxf.version}.jar"/>
        <resource-root path="cxf-rt-wsdl-${cxf.version}.jar"/>
        <resource-root path="cxf-rt-transports-http-${cxf.version}.jar"/>
        <resource-root path="cxf-rt-frontend-jaxrs-${cxf.version}.jar"/>
        <resource-root path="cxf-rt-rs-client-${cxf.version}.jar"/>
        <resource-root path="cxf-rt-ws-policy-${cxf.version}.jar"/>
        <resource-root path="cxf-rt-ws-policy-${cxf.version}.jar"/>
        <resource-root path="neethi-${neethi.version}.jar"/>
        <resource-root path="json-${json.version}.jar"/>
    </resources>

    <dependencies>
        
        <module name="javax.api"/>
        <module name="javax.annotation.api"/>
        <module name="javax.validation.api"/>
        <module name="javax.ws.rs.api"/>
        <module name="javax.xml.bind.api"/>
        <module name="com.fasterxml.jackson.core.jackson-core"/>
        <module name="com.fasterxml.jackson.core.jackson-databind"/>
        <module name="com.fasterxml.jackson.jaxrs.jackson-jaxrs-json-provider"/>
        <module name="org.apache.commons.lang"/>
        <module name="org.apache.ws.xmlschema"/>
        <module name="org.codehaus.woodstox"/>
        <module name="org.slf4j"/>
        
    </dependencies>

</module>
